.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F8FF;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2952E1;
  font-size: 1em;
}

.App-body {
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(41, 82, 225, 0.15);
}

.App-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

textarea {
  height: 110px;
  padding: 10px;
  font-size: 1.5em;
  resize: none;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background-color: #F6F6F6;
  color: #3c3b3b;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #2952E1;
    outline: none;
  }
}

textarea.input-error {
  border: 1px solid #CC453C;
  background-color: #FFF6F5;
}

.error-label {
  height: 20px;
  font-size: 0.8em;
  color: #CC453C;
  align-self: flex-start;
}

button {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #2952E1;
  color: white;

  &:hover {
    background-color: #496EF1;
  }

  &:focus-visible {
    outline: 2px solid #0000ff;
  }
}

.App-label {
  display: flex;
  text-align: end;
  width: 100%;
  color: #2952E1;
}

.App-output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #D0DEF5;
  color: #456cf1;
  border-radius: 8px;
  margin-top: 10px;
}